/* @import url('./reactflow-base.css'); */
@import url('./reactflow-style.css');

* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  /* width: 90%; */
  /* flex-direction: row; */
}

/* Graph display on dashboard */
#tree-component-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40vh;
  width: 45%;
  /* padding: 20px; */
  border: 30px solid rgb(58, 58, 79);
  border-radius: 10px;
  flex: 1;
}

.render-comp {
  position: absolute;
  top: 0;
  right: 0;
  height: 40vh;
  width: 45%;
  flex: 1;
  border: 30px solid rgb(58, 58, 79);
  border-radius: 10px;
}

.render-events {
  position: absolute;
  top: 0;
  right: 50%;
  height: 40vh;
  width: calc(45% - 1rem);
  flex: 1;
  border: 30px solid rgb(58, 58, 79);
  border-radius: 10px;
}
.comp-ranked {
  position: absolute;
  bottom: 0;
  right: 50%;
  height: 40vh;
  width: calc(45% - 1rem);
  flex: 1;
  border: 30px solid rgb(58, 58, 79);
  border-radius: 10px;
}

/* Navbar */
#main-nav {
  position: sticky;
  width: 2rem;
  height: 100vh;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: fixed; */
  gap: 1rem;
  background-color: rgb(58, 58, 79);
  z-index: 1;
}

.main-nav-btn {
  background: none;
  border: none;
  font-size: 1rem;
  color: rgb(157, 179, 198);
  align-items: center;
}

.main-nav-btn :hover {
  box-shadow: 0 0 3px;
  cursor: pointer;
}

/* Start View & Session Recording in Progress */
.start-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 8px;
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(219.43deg, #22223b 30.07%, #4a4e69 100.23%);
  border: 1.5px solid rgba(255, 255, 255, 0.12);
}

.start-text {
  font-size: 30px;
  color: white;
}
